<!--  <div class="user-details">
  <h1> My Expertise </h1>
  <p>Development always interested me and after I graduated and traveled around the world I’m ready to make it happen. My journey started by following 9-week Coding Bootcamp at Le Wagon. This is a coding school for startups, entrepreneurs and creative people.</p>
</div> -->
<!--   <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p></p>
    </div>
</div> -->
