<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="logo getmydata" src="{{ "/assets/img/getmydata.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 style="padding-top: 0em;"> GetMyData </h3>
    <ul>
      <li> Full Stack Web Developer </li>
    </ul>
    <p>
      Who is keeping your data? What do they know about you? GetMyData sends requests on your behalf to organizations that keep your data, returns an overview and lets you retract your consent if you want.
    </p>
    <a class="project-link" href="https://www.getmydata.io/" target="_blank">Check it out</a>
  </div>
</div>
